// Стили для шапки сайта
header
  display: flex
  align-items: center
  justify-content: space-between
  padding: 10px 25px 10px 6px
  background-color: #111 // Цвет фона шапки
  max-width: 100%

// Стили для логотипа
.logo
  display: flex
  align-items: center

  svg
    width: 80px // Установите ширину логотипа
    height: auto // Сохраняем пропорции
    // fill: #fff // Белый цвет по умолчанию
    transition: fill 0.3s ease // Плавный переход цвета

    &:hover
      fill: #BD5248 // Цвет при наведении

// Стили для навигации
nav
  ul
    display: flex
    list-style: none
    margin: 0
    padding: 0

    li
      margin-left: 20px

      a
        font-family: 'Reem Kufi', sans-serif // Укажите нужный шрифт
        font-size: 16px // Размер шрифта
        font-weight: 400 // Толщина шрифта
        color: #fff // Цвет текста
        text-decoration: none // Убираем подчеркивание
        transition: color 0.3s ease // Плавный переход цвета

        &:hover
          color: #BD5248 // Цвет текста при наведении