.page-content
  width: 650px
  margin: 30px
  h1
    line-height: 1.5
    color: #d3d3d3
    font:
      size: 30px
      weight: 700
  p
    line-height: 1.5
    font:
      size: 16px

// Специально для страницы About
.about .page-content
  font-family: 'Roboto', sans-serif
  
  h1, h2, h3, h4, h5, h6
    font-family: 'Teko', sans-serif
    font-weight: 500
    letter-spacing: 1px
  
  h1
    font-size: 3em

@media (max-width: 768px)
  .page-content
    width: 80vw
