.page-content
  width: 650px
  margin: 30px
  font-family: 'Roboto', sans-serif
  color: #d3d3d3
  
  h1
    line-height: 1.5
    color: #d3d3d3
    font-family: 'Teko', sans-serif
    font-size: 3em
    font-weight: 500
    letter-spacing: 1px
  
  h2, h3, h4, h5, h6
    font-family: 'Teko', sans-serif
    font-weight: 500
    letter-spacing: 1px
    color: #d3d3d3
  
  p
    line-height: 1.5
    font-size: 16px
    color: #d3d3d3

@media (max-width: 768px)
  .page-content
    width: 80vw
    