<section>
    <div class="projects-container">
      {% for project in site.data.settings.projects %}
        <div class="project-item">
          {% if include.video_mode %}
            <!-- Если video_mode=true, отображаем видео -->
            {% include video.html video=project.video text=project.id youtube=project.youtube %}
          {% else %}
            <!-- Если video_mode не указан, отображаем изображение -->
            {% include image.html url=project.url image=project.image text=project.name %}
          {% endif %}
        </div>
      {% endfor %}
    </div>
</section>
