<div class="video-container">
  {% if include.youtube %}
    <div class="video-preview">
      <video class="lazy-video" muted loop preload="metadata" playsinline>
        <!-- Мобильная версия загрузится первой -->
        <source src="{{ site.baseurl }}/assets/videos/{{ include.video | replace: '.mp4', '-mobile.mp4' }}" type="video/mp4" media="(max-width: 768px)">
        <!-- Десктоп версия -->
        <source src="{{ site.baseurl }}/assets/videos/{{ include.video }}" type="video/mp4">
        Your browser does not support the video tag.
      </video>
      <div class="overlay">
        <div class="text">
          <h2>{{ site.data.texts.project_texts[include.id].title }}</h2>
          <p>{{ site.data.texts.project_texts[include.id].description }}</p>
          <span class="view-full-video" data-video-id="{{ include.youtube }}">VIEW FULL VIDEO</span>
        </div>
      </div>
    </div>
  {% else %}
    <div class="video-preview">
      <video class="lazy-video" muted loop preload="metadata" playsinline>
        <source src="{{ site.baseurl }}/assets/videos/{{ include.video | replace: '.mp4', '-mobile.mp4' }}" type="video/mp4" media="(max-width: 768px)">
        <source src="{{ site.baseurl }}/assets/videos/{{ include.video }}" type="video/mp4">
        Your browser does not support the video tag.
      </video>
      <div class="overlay">
        <div class="text">
          <h2>{{ site.data.texts.project_texts[include.id].title }}</h2>
          <p>{{ site.data.texts.project_texts[include.id].description }}</p>
        </div>
      </div>
    </div>
  {% endif %}
</div>

<div id="youtube-modal" class="modal">
  <div class="modal-content">
    <span class="close-modal">&times;</span>
    <iframe id="youtube-iframe" frameborder="0" allowfullscreen></iframe>
  </div>
</div>
