<div class="video-container">
  <a href="{{ include.url }}" target="_blank">
    <video class="lazy-video" muted loop preload="none" data-video-id="{{ include.youtube }}">
      <source src="{{ site.github.url }}/assets/videos/{{ include.video }}" type="video/mp4">
      Your browser does not support the video tag.
    </video>
    <div class="overlay">
      <div class="text">
        {% if include.text %}
          {{ include.text }} <i class="fa fa-arrow-right" aria-hidden="true"></i>
        {% else %}
          View Demo <i class="fa fa-arrow-right" aria-hidden="true"></i>
        {% endif %}
      </div>
    </div>
  </a>
</div>

<!-- Модальное окно -->
<div id="youtube-modal" class="modal">
  <div class="modal-content">
    <span class="close-modal">&times;</span>
    <iframe id="youtube-iframe" width="560" height="315" frameborder="0" allowfullscreen></iframe>
  </div>
</div>