<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <!-- DNS Prefetch для внешних ресурсов -->
    <link rel="dns-prefetch" href="https://fonts.googleapis.com">
    <link rel="dns-prefetch" href="https://fonts.gstatic.com">
    <link rel="dns-prefetch" href="https://ajax.googleapis.com">
    <link rel="dns-prefetch" href="https://www.googletagmanager.com">
    
    <!-- Preconnect для критичных ресурсов -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    
    <!-- Preload критичных ресурсов -->
    <link rel="preload" href="{{ site.baseurl }}/assets/css/all.css" as="style">
    <link rel="preload" href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&family=Teko:wght@400;600&display=swap" as="style">
    
    <meta name="description" content="{{ site.description }}">
    <title>
      {% if page.title == "Home" %}
        {{ site.title }}
      {% else %}
        {{ page.title }} | {{ site.title }}
      {% endif %}
    </title>
    
    <!-- Favicon -->
    <link rel="icon" type="image/x-icon" href="{{ site.baseurl }}/favicon.ico">
    
    <!-- Styles - критичные первыми -->
    <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/all.css">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&family=Teko:wght@300;400;500;600;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" media="print" onload="this.media='all'">
    
    <!-- Google Analytics - асинхронно -->
    {% if site.data.settings.google-analytics %}
    <script async src="https://www.googletagmanager.com/gtag/js?id={{ site.data.settings.google-analytics }}"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', '{{ site.data.settings.google-analytics }}');
    </script>
    {% endif %}
  </head>
  <body>
    <div class="site-container">
      {% include header.html %}
      {{ content }}
      {% include footer.html %}
    </div>
    
    <!-- Scripts в конце с defer -->
    <script src="{{ site.baseurl }}/assets/js/main.js" defer></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js" defer></script>
  </body>
</html>
